---
import Layout from "../layouts/Layout.astro"
import Hero from "../components/Hero.astro"
import SectionContainer from "../components/SectionContainer.astro"
import Projects from "../components/Projects.astro"
import Skills from "../components/Skills.astro"
import Timeline from "../components/Timeline.astro"
import Contacto from "../components/Contacto.astro"
// importacion de iconos con astro-icon
import { Icon } from 'astro-icon/components'
---

<Layout
  title="Portafolio - Desarrollo de aplicaciones web con enfoque Full Stack"
  description="Contacta para crear tu aplicacion web"
>
  <main>
    <Hero />
    
    <!-- Secci贸n de Habilidades -->
    <SectionContainer id="habilidades" class="py-16 md:py-24">
      <Skills />
    </SectionContainer>
    
    <!-- Secci贸n de Proyectos -->
    <SectionContainer id="proyectos" class="py-16 md:py-24">
      <Projects />
    </SectionContainer>
    
    <!-- Secci贸n de Experiencia Profesional -->
    <SectionContainer id="experiencia" class="py-12 md:py-16">
      <Timeline />
    </SectionContainer>
    
    <!-- Secci贸n de Contacto -->
    <SectionContainer id="contacto" class="py-16 md:py-24">
      <Contacto />
    </SectionContainer>
  </main>
</Layout>
