---
import ThemeToggle from "./ThemeToggle.astro"
const navItems = [
    {
        title:"Habilidades",
        label:"habilidades",
        url:"/#habilidades",
    },
    {
        title:"Proyectos",
        label:"proyectos",
        url:"/#proyectos",
    },
    {
        title:"Experiencia",
        label:"experiencia",
        url:"/#experiencia",
    },
    {
        title:"Contacto",
        label:"contacto",
        url:"/#contacto",
    },
]
---
<header class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2">
    <nav class="flex px-3 text-sm font-medium rounded-full text-gray-600 dark:text-gray-200 justify-center items-center bg-white/80 dark:bg-gray-900/80 backdrop-blur-md border border-gray-200/20 dark:border-gray-700/30 shadow-lg">
        {
            navItems.map((link)=>(
                <a
                    class="relative block px-2 py-2 transition hover:text-blue-500 dark:hover:text-blue-400"
                    aria-label={link.label}
                    href={link.url}
                >
                    {link.title}      
                </a>
            ))
        }
        <ThemeToggle/>
    </nav>
</header>